{% extends "blog/base.html" %}

{% block title %}
I am the index page.
{% endblock title %}

{% block content %}

{{ request.session.counter }}

<div id="posts-container">
  <table border="1">
    <thead>
      <th>Title</th>
      <th>Tags</th>
    </thead>
  {% for post in posts %}
    <tr>
      <td><a href="">{{ post.title }}</a></td>
      <td>
        {% include "partial/tags.html" with tags=post.tags.all only %}
      </td>
    </tr>
  {% endfor %}
  </table>
</div>
{% endblock content %}
