$white: #fff;
$light-grey: #eee;

/*--------------------------------------------------------
     Content
---------------------------------------------------------*/
#content {
	overflow: hidden;
	padding: 60px 0;
	position: relative;
	.container {
		position: relative;
	}
}
.content-wrap {
	position: relative;
	padding: 80px 0;
}
.container > .post-content {
	padding-left: 0;
	padding-right: 0;
}
.post-content {
	padding-left: 15px;
	padding-right: 25px;
	&.float-right {
		padding-left: 25px;
		padding-right: 15px;
		&+ .sidebar {
			padding-left: 15px;
			padding-right: 25px;
		}
	}
	&.post-fullwidth,
	&.bothsidebar {
		padding-left: 15px;
		padding-right: 15px;
	}
	&.bothsidebar {
		padding-left: 25px;
		padding-right: 25px;
	}
}

// Sidebar

.sidebar {
	padding-right: 25px;
}

.post-content + sidebar {
	padding-left: 25px;
	padding-right: 15px;
}
body.device-sm,
body.device-xs,
body.device-xss {
	.sidebar {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.sidebar-modern {
	&:before {
		background-color: #fbfbfb;
        border-left: 1px solid $light-grey;
        border-right: 1px solid $light-grey;
        content: "";
        display: block;
        height: 99999px;
        position: absolute;
        right: 0;
        top: -100px;
        width: 3000px;
        z-index: -10;
	}
}
body.device-sm,
body.device-xs,
body.device-xss {
	.sidebar {
		&:before {
			border: 0px;
			background-color: transparent;
		}
	}
}
.post-content {
	.sidebar-modern:before {
		left: 0;
		right: auto;
	}
	&.float-right +.sidebar-modern:before {
		right: 0;
		left: auto;
	}
}
body.device-sm,
body.device-xs {
	.sidebar {
		margin-top: 40px;
		width: 100%;
	}
}

// SIDEBAR MENU 

.sidebar-menu {
	border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 2px;
    margin-top: 30px;
    padding: 0;
    ul {
    	list-style: outside none none;
    	margin: 0;
    	padding: 0;
    	li {
    		padding: 10px 20px;
            margin: 0;
            border-top: 1px solid rgba(0, 0, 0, 0.07);
            color: #666;
            font-family: Roboto, Arial, Tahoma, sans-serif;
            padding: 10px 20px 10px 18px;
            -webkit-transition: all 0.2s ease-in-out 0s;
            transition: all 0.2s ease-in-out 0s;
            cursor: pointer;
            &:hover {
            	background: rgba(0, 0, 0, 0.05) !important;
                color: #606060;
                padding: 10px 20px 10px 26px;
            }
            a {
            	color: #444;
            	display: block;
            }
    	}
    }
    i {
    	margin-right: 12px;
    }
    h4,
    h3 {
    	background-color: #f8f8f8;
    	padding: 14px 18px;
    	margin: 0;
    }
}