{% extends "base.html" %}

{% block content %}
<a type="button" class="btn btn-success" href="{% url 'chat:chat-room:create' %}">Create New Chat Room</a>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table>
        <thead>
          <th>Name</th>
          <th>Capacity</th>
          <th>Actions</th>
        </thead>
        <tbody>
        {% for chat_room in object_list %}
        <tr>
          <td>{{ chat_room.name }}</td>
          <td>{{ chat_room.capacity }}</td>
          <td><a href="{% url 'chat:chat-room:detail' chat_room.id %}">Chat On!</a></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}