{% extends "website/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    {% for offer in offers %}
        <div class="jumbotron">
          <div class="row">
            <div class="col-md-4">
              <img src="{{ offer.image.url }}" width="300">
            </div>
            <div class="col-md-6">
              Category: {{ offer.category.name }} </br>
              Author: {{ offer.author }}
            </div>
            <div class="col-md-2">
              {% if offer.author == request.user %}
              <form method="POST" enctype="multipart/form-data" action="{% url 'website:edit-offer' offer.id %}">
                {% csrf_token %}
                <button class="btn btn-warning" type="submit">Редактирай</button>
              </form>
            </br>
              <form method="POST" enctype="multipart/form-data" action="{% url 'website:delete-offer' offer.id %}">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit">Изтрий </button>
              </form>
              {% endif %}
            </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
