$white: #fff;

// Blockquotes

.blockquote-simple {
    border: 0 none !important;
}
.blockquote-fancy,
.blockquote-color,
.blockquote-dark {
    border: 0 none !important;
}
.blockquote-fancy {
	&::before {
		color: rgba(0, 0, 0, 0.04);
        content: "“";
        display: block;
        font-size: 100px;
        left: 4px;
        position: absolute;
        top: 14px;
	}
	> small {
		float: right;
	}
}
.blockquote-dark {
    background-color: #333;
}
.blockquote-color,
.blockquote-dark {
    padding: 28px;
    color: $white;
}